*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.clock{
    width: 1000px;
    height: 800px;
    background-image: url(images/clock1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto;
}   
.hrs{
    position: absolute;
    top: 32.5%;
    left: 49.5%;
    transition: transform;
    transform-origin: bottom center;
}
.minute{
    position: absolute;
    top: 24.9%;
    left: 49.5%;
    transition: transform;
    transform-origin: bottom center;
}
.seconds{
    position: absolute;
    top: 18.6%;
    left: 49.4%;
    transition: transform;
    transform-origin: bottom center;
}
.input{
    padding-bottom: 10px;
}
.input-time{
    width: 50px;
    margin: 10px;
    font-size: 25px;
    border-radius: 5px;
}
.btn{
    padding: 10px;
    font-size: 20px;
    background-color:burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    transition: transform 1s;
}
.btn:hover{
    transform: scale(1.1);
}
.btn-2{
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    background-color:burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    transition: transform 1s;
}
.btn-2:hover{
    transform: scale(1.1);
}